PRUEBA_NET.Rest/WebEstudiante/Service References/Estudiantes/Estudiantes1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PRUEBA_NET.Rest.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PRUEBA_NET.Rest.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Estudiante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nota" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estudiante" nillable="true" type="tns:Estudiante" />
  <xs:complexType name="ArrayOfEstudiante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Estudiante" nillable="true" type="tns:Estudiante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstudiante" nillable="true" type="tns:ArrayOfEstudiante" />
</xs:schema>