PRUEBA_NET.Rest/WebEstudiante/Service References/Estudiantes/Estudiantes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63118/Estudiantes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PRUEBA_NET.Rest.Dominio" />
  <xs:element name="CrearActividad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PRUEBA_NET.Rest.Dominio" minOccurs="0" name="std" nillable="true" type="q1:Estudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearActividadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PRUEBA_NET.Rest.Dominio" minOccurs="0" name="CrearActividadResult" nillable="true" type="q2:Estudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMaxMin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMaxMinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PRUEBA_NET.Rest.Dominio" minOccurs="0" name="ObtenerMaxMinResult" nillable="true" type="q3:ArrayOfEstudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPromedio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPromedioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PRUEBA_NET.Rest.Dominio" minOccurs="0" name="ConsultarPromedioResult" nillable="true" type="q4:ArrayOfEstudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>