PRUEBA_NET.Rest/WebEstudiante/Service References/Estudiantes/Estudiantes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Estudiantes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63118/Estudiantes.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63118/Estudiantes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63118/Estudiantes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PRUEBA_NET.Rest.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEstudiantes_Crear_InputMessage">
    <wsdl:part name="parameters" element="tns:Crear" />
  </wsdl:message>
  <wsdl:message name="IEstudiantes_Crear_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearResponse" />
  </wsdl:message>
  <wsdl:message name="IEstudiantes_InsertarNota_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarNota" />
  </wsdl:message>
  <wsdl:message name="IEstudiantes_InsertarNota_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarNotaResponse" />
  </wsdl:message>
  <wsdl:message name="IEstudiantes_ObtenerEstudiantes_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstudiantes" />
  </wsdl:message>
  <wsdl:message name="IEstudiantes_ObtenerEstudiantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstudiantesResponse" />
  </wsdl:message>
  <wsdl:message name="IEstudiantes_ObtenerEstudiante_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstudiante" />
  </wsdl:message>
  <wsdl:message name="IEstudiantes_ObtenerEstudiante_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstudianteResponse" />
  </wsdl:message>
  <wsdl:message name="IEstudiantes_ObtenerMaxMin_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMaxMin" />
  </wsdl:message>
  <wsdl:message name="IEstudiantes_ObtenerMaxMin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMaxMinResponse" />
  </wsdl:message>
  <wsdl:message name="IEstudiantes_ConsultarPromedio_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPromedio" />
  </wsdl:message>
  <wsdl:message name="IEstudiantes_ConsultarPromedio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPromedioResponse" />
  </wsdl:message>
  <wsdl:portType name="IEstudiantes">
    <wsdl:operation name="Crear">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstudiantes/Crear" message="tns:IEstudiantes_Crear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstudiantes/CrearResponse" message="tns:IEstudiantes_Crear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarNota">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstudiantes/InsertarNota" message="tns:IEstudiantes_InsertarNota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstudiantes/InsertarNotaResponse" message="tns:IEstudiantes_InsertarNota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstudiantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstudiantes/ObtenerEstudiantes" message="tns:IEstudiantes_ObtenerEstudiantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstudiantes/ObtenerEstudiantesResponse" message="tns:IEstudiantes_ObtenerEstudiantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstudiante">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstudiantes/ObtenerEstudiante" message="tns:IEstudiantes_ObtenerEstudiante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstudiantes/ObtenerEstudianteResponse" message="tns:IEstudiantes_ObtenerEstudiante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMaxMin">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstudiantes/ObtenerMaxMin" message="tns:IEstudiantes_ObtenerMaxMin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstudiantes/ObtenerMaxMinResponse" message="tns:IEstudiantes_ObtenerMaxMin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPromedio">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstudiantes/ConsultarPromedio" message="tns:IEstudiantes_ConsultarPromedio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstudiantes/ConsultarPromedioResponse" message="tns:IEstudiantes_ConsultarPromedio_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Estudiantes" />
</wsdl:definitions>