PRUEBA_NET.Rest/WebEstudiante/Service References/Estudiantes/Estudiantes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63118/Estudiantes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PRUEBA_NET.Rest.Dominio" />
  <xs:element name="Crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PRUEBA_NET.Rest.Dominio" minOccurs="0" name="std" nillable="true" type="q1:Estudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PRUEBA_NET.Rest.Dominio" minOccurs="0" name="CrearResult" nillable="true" type="q2:Estudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarNota">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PRUEBA_NET.Rest.Dominio" minOccurs="0" name="std" nillable="true" type="q3:Estudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarNotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PRUEBA_NET.Rest.Dominio" minOccurs="0" name="InsertarNotaResult" nillable="true" type="q4:Estudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstudiantes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstudiantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PRUEBA_NET.Rest.Dominio" minOccurs="0" name="ObtenerEstudiantesResult" nillable="true" type="q5:ArrayOfEstudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstudiante">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstudianteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PRUEBA_NET.Rest.Dominio" minOccurs="0" name="ObtenerEstudianteResult" nillable="true" type="q6:Estudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMaxMin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMaxMinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PRUEBA_NET.Rest.Dominio" minOccurs="0" name="ObtenerMaxMinResult" nillable="true" type="q7:ArrayOfEstudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPromedio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPromedioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultarPromedioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>